<div id="login-card" class="card">
    <div class="card-body">
        <img class="logo" alt="logolobal" src="assets/img/logo-1.png ">
        <h5 class="card-title">Registro</h5>
        <h6 class="card-subtitle mb-2 text-muted">Control de jornada laboral</h6>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" class="indicativo">User Name</label>
                <input type="text" class="form-control borde" id="exampleInputuser" pattern=".{0,}" max="8" aria-describedby="userHelp"
                    placeholder="User Name">
                <small id="emailHelp" class="form-text text-muted mensaje">
                    Este sistema está restringido a personas autorizadas.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="indicativo">Password</label>
                <input type="password" class="form-control borde" id="exampleInputPassword1" max="8" placeholder="Password">
            </div>
            <br>
            <div id="buttons" class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary boton">Login</button>
                </div>
                <div class="col-md-6 text-center">
                    <button type="Registro" class="btn btn-primary boton">Registrate</button>
                </div>
            </div>
        </form>
    </div>
</div>