<div id="login-card" class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <img class="logo" alt="logolobal" src="assets/img/logo-1.png ">
            </div>
            <div class="col-md-10">
                <h5 class="card-title">Registro</h5>
                <h6 class="card-subtitle mb-2 text-muted">Datos del Usuario</h6>
            </div>
        </div>
        <br>
        <form>
            <div class="">
                <label for="exampleInputName" class="etiqueta">First Name</label>
                <input matInput placeholder="First Name"  class="form-control borde"
                    name="FirstName">
                <div class="mb-3">
                    <label for="exampleInputName" class="etiqueta">Last Name</label>
                    <input matInput placeholder="Last Name"  class="form-control borde"
                        name="LastName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="etiqueta">Email address</label>
                    <input matInput placeholder="Email address" type="email" class="form-control borde" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <label for="exampleInputEmail1" class="etiqueta">User Name</label>
                <input type="text" class="form-control borde inputlogin" id="exampleInputuser" pattern=".{0,}" max="8"
                    aria-describedby="userHelp" placeholder="User Name">
            </div>            
            <div>
                <label for="exampleInputPassword1" class="etiqueta">Password</label>
                <input type="password" class="form-control borde inputlogin" id="Password" max="8"
                    placeholder="Password">
            </div>
            <br>            
        </form>
        <div id="buttons" class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button type="Registro" class="btn btn-primary boton">Crear cuenta</button>
            </div>
        </div>
    </div>
</div>